/* CSS RESET */
html body h1 h1 blockquote table header nav main footer {
margin: 0;
padding: 0;
border: 0;
}

/*
Color Pallet: 
0D3B66 - Blue
FAF0CA - Tan
F4D35E - Gold 
*/

body {

}

h1 {
 color: #faf0ca;
}

h2 {

}

blockquote {

}

table {

}

head {
    color: #faf0ca;
}

header {
    background-color: #0d3b66;
}

nav {
    color: #faf0ca;
}

nav ul {
display: block;
background-color: #0d3b66;
}

nav ul li {
display: block;
}

nav a {

}

nav a:hover {

}

main {

}

footer {
    background-color: #0d3b66;
}