/* CSS RESET */
html body h1 h1 blockquote table header nav main footer {
margin: 0;
padding: 0;
border: 0;
}

/*
Color Pallet: 
0D3B66 - Blue
FAF0CA - Tan
F4D35E - Gold 
*/

body {

}

title {
 color: #faf0ca;
 font-size: 1.2em;
}

h1 {
    color: #faf0ca;
    font-size: 1.2em;
}

h2 {

}

blockquote {

}

table {

}

head {
    color: #faf0ca;
}

header {
    background-color: #0d3b66;
    height: 800px;
}

.hnav {
    color: #faf0ca;
    min-height: 50px;
}

.hnav ul {
display: block;
text-align: center;
background-color: #0d3b66;
}

.hnav ul li {
display: inline-block;
list-style-type: none;
width: 14%;
background-color: #f4d35e;
}

.hnav a {

}

.hnav a:hover {

}

main {
background-color: #f4d35e;
}

#container {
    width: 80%;
    display: inherit;
    padding: 20% 20% 150px;
}

section {
    font-size: 2.5em;
}

footer {
    background-color: #0d3b66;
}

.fnav {
    color: #faf0ca;
    min-height: 50px;
}

.fnav ul {
display: block;
text-align: center;
background-color: #0d3b66;
}

.fnav ul li {
display: inline-block;
list-style-type: none;
width: 14%;
background-color: #f4d35e;
}

.fnav a {

}

.fnav a:hover {

}