/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*
Color Pallet: 
0D3B66 - Blue
FAF0CA - Tan
F4D35E - Gold 
*/

body {
max-width: 100%;
}

title {
 color: #faf0ca;
 font-size: 2.5em;
 font-weight: bold;
}

h1 {
    color: #faf0ca;
    font-size: 6em;
    font-weight: bold;
    font-family: 'Monoton', cursive;

}

h2 {
    color: #faf0ca;
    font-size: 2em;
    font-family: 'Monoton', cursive;

}

h3 {
    color: #faf0ca;
    font-size: 1.8em;
    padding: 3%;

}

h3 a {
    color: #0d3b66;
    text-decoration: none;
}

h4 {
    color: #faf0ca;
    font-size: 1.5em;
    font-family: 'Monoton', cursive;
}

h5 {
    color: #faf0ca;
    font-size: 1.2em;
    padding: 3%;
}

legend {
    font-size: 2em;
    text-align: center;
}


blockquote {

}

table {

}

head {
    color: #faf0ca;
}

header {
    background-color: #0d3b66;
    height: 800px;
}

.hnav {
    color: #faf0ca;
    min-height: 80px;
}

.hnav ul {
display: block;
text-align: center;
background-color: #0d3b66;
}

.hnav ul li {
display: inline-block;
list-style-type: none;
width: 18%;
background-color: #f4d35e;
}

.hnav a {
color: #0d3b66;
font-family: 'Monoton', cursive;

}

.hnav a:hover {
    color: #faf0ca;

}

main {
background-color: #f4d35e;
}

p {
    font-size: 2.5em;
    color: #0d3b66;
}

#container {
    width: 80%;
    display: inherit;
    text-align: center;
    

}

#company {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

#company img {
    max-width: 400px;
    max-height: 600px;
}

article {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

section {
    font-size: 2.5em;
    color: #0d3b66;
}

section a {
    color: #0d3b66;
}

section a:hover {
    color: #f4d35e;
}

.frame {
	position: relative;
	max-width: 425px;
	margin: 2% auto;
}

.map {
    width: 600px;
    height: 450px;
}

.grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 10px;
	}

.grid img {
    max-width: 400px;
    max-height: 600px;
}

.hershey {
    max-width: 400px;
    max-height: 800px;
}

.diff {
    background-color: #0d3b66;
}

.diff a {
    text-decoration: none;
    color: #f4d35e;
}

.diff a:hover {
color: #faf0ca;
}

.middle img {
float: right;
background-color: #0d3b66;

}

.top img {
float: left;
}

.bottom img {
float: left;
}

footer {
    background-color: #0d3b66;
    color: #faf0ca;
}

footer p {
    font-family: 'Monoton', cursive;
    color: #faf0ca;
    font-size: 2.5em;
}

.fnav {
    color: #faf0ca;
    min-height: 50px;
}

.fnav ul {
display: block;
text-align: center;
background-color: #0d3b66;
}

.fnav ul li {
display: inline-block;
list-style-type: none;
width: 18%;
background-color: #f4d35e;
}

.fnav a {
    font-family: 'Monoton', cursive;
    color: #0d3b66;
}

.fnav a:hover {
color: #faf0ca;
}